extends ../layout

block content

  .page_body.padding_top_header

    section.result_table_section
      .padding_lr.stretch.clrfx
        .users_responsive_table.tabs.mobile_table(style='min-height: 338px;overflow: auto')

          .tabs_content
            div
              .tr_user_name No
              .tabs_box
                .tab_3(style='width: 100%;')
                  div(style='width: 9.0909%;') First Name
                  div(style='width: 9.0909%;') Last Name
                  div(style='width: 9.0909%;') Search Date
                  div(style='width: 18.181818%;') Industries
                  div(style='width: 18.181818%;') Description Keywords
                  div(style='width: 18.181818%;') Included Intangibles
                  div(style='width: 18.181818%;') Excluded Intangibles
            if tabledata
              each row, i in tabledata
                div
                  .tr_user_name #{i+1}
                  .tabs_box
                    .tab_3(style='width: 100%;')
                      div(style='width: 9.0909%;') #{row.firstname}
                      div(style='width: 9.0909%;') #{row.lastname}
                      div(style='width: 9.0909%;') #{row.searchdate}
                      div(style='width: 18.181818%;') #{row.industries}
                      div(style='width: 18.181818%;') #{row.keywords}
                      div(style='width: 18.181818%;') #{row.included_intans}
                      div(style='width: 18.181818%;') #{row.excluded_intans}
