extends ../layout

block content

  .page_body.padding_top_header
    section.result_table_section




        div(style='min-height: 338px; overflow: auto')
          .tabs_content
            table(style="width: 5000px")
              
              tbody

                if tabledata
                  each row, i in tabledata
                    tr
                      td #{i+1}
                      td #{row.col1}
                      td #{row.col2}
                      td #{row.col3}
                      td #{row.col4}
                      td #{row.col5}
                      td #{row.col6}
                      td #{row.col7}
                      td #{row.col8}
                      td #{row.col9}
                      td #{row.col10}
                      td #{row.col11}
                      td #{row.col12}
                      td #{row.col13}
                      td #{row.col14}
                      td #{row.col15}
                      td #{row.col16}
                      td #{row.col17}
                      td #{row.col18}
                      td #{row.col19}
                      td #{row.col20}
                      td #{row.col21}
                      td #{row.col22}
                      td #{row.col23}
                      td #{row.col24}
                      td #{row.col25}
                      td #{row.col26}
                      td #{row.col27}
                      td #{row.col28}
                      td #{row.col29}
                      td #{row.col30}
                      td #{row.col31}
                      td #{row.col32}
                      td #{row.col33}
                      td #{row.col34}
                      td #{row.col35}
                      td #{row.col36}
                      td #{row.col37}
                      td #{row.col38}
                      td #{row.col39}
                      td #{row.col41}
                      td #{row.col42}
                      td #{row.col43}
                      td #{row.col44}
                      td #{row.col45}
